@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Object> menuItems = new List<Object>();
    menuItems.Add(new { text = "Dashboard", url = "/", iconCss = "fa-box" });
    if (User.Identity.IsAuthenticated) { 
    menuItems.Add(new { text="Categories",url="/Category",iconCss="fa-solid fa-folder-closed"});
    menuItems.Add(new { text = "Transactions", url = "/Transaction", iconCss="fa-solid fa-arrow-right-arrow-left "});
    }
}

<ejs-sidebar id="sidebar" width="300px" enableDock target=".dock-target" enableGestures>
    <e-content-template>
       <div class="w-100">
           <i id="sidebar-toggler" class="fa-solid fa-angles-left"></i>
       </div>
        <div class="profile-wrapper">
            <img class="profile-pic" src=""/>
            <div class=" titles d-flex flex-column ps-3">
                <h6 Class="mb-0">
                    Wallet App
                </h6>
                <span class="text-muted">Maruthi</span>
             </div>
        </div>
        <ejs-menu id="menu" items="menuItems" orientation="Vertical"></ejs-menu>
    </e-content-template>
</ejs-sidebar>


           <script>
               document.addEventListener('DOMContentLoaded',function(){
                   dockBar=document.getElementById('sidebar').ej2_instances[0];
                   document.getElementById('sidebar-toggler').onclick=function(){
                   dockBar.toggle();
                   }
               })
           </script>