@using Expense.Models.ViewModel;
@model ChangeViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Log in to your account</h4>
        </p>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"]</span>
            </div>
        }
        <div class="row">
            <div class="col-md-8 offset-2">
                <form method="post" asp-action="PasswordChange">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CurrentPassword" class="control-label"></label>
                        <input asp-for="CurrentPassword" class="form-control">
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label">New Password</label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Confirmpassword" class="control-label"></label>
                        <input asp-for="Confirmpassword" class="form-control" />
                        <span asp-validation-for="Confirmpassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                    
                        <a class="btn btn-danger" asp-controller="User" asp-action="Profile">Discard</a>
         
                </form>
            </div>
        </div>
    </div>
</div>
